<div class="col-12">
  <div class="row">
    <div [ngClass]="[expanded ? 'col-'+leftPanelSize+' custom' : 'customClosed']">
      <div *ngIf="expanded"
           class="left-frame">
        <ng-content select="[left]"></ng-content>
      </div>
      <div [ngClass]="[expanded ? 'full-height' : 'full-height']"
           (click)="toggleExpanded()">
        <i *ngIf="expanded"
           class="fa fa-chevron-left fa-vc"
           aria-hidden="true"></i>
        <i *ngIf="!expanded"
           class="fa fa-chevron-right fa-vc"
           aria-hidden="true"></i>
      </div>
    </div>
    <div [ngClass]="['right-frame', expanded ? 'col-' + rightPanelSize : 'col-11']">
        <ng-content select="[right]"></ng-content>
    </div>
  </div>
</div>