<div>
    <h3 class="left col col-2">Comments:</h3>
    <div *ngIf="showMessages.length===0" class="left col col-2">
        No comments yet
    </div>
    <h3></h3>
    <div *ngFor="let showMessage of showMessages">
        <li class="col col-8"><a class=".button-link" routerLink=""
                (click)='showDetails(showMessage.id)'>{{ showMessage.title  }}</a></li>
    </div>
    <h3></h3>
</div>
<div class="left col ">

    <div class="form-group">
        <label for="coment">Comment</label>
        <input class="form-control col-3" [formControl]="controlInput" id="coment" placeholder="Put comment here"
            (keyup)="onChangeValue()">

        <label for="comentType">Comment type</label>
        <select class="form-control col-1" [formControl]="controlSelect" id="comentType" (change)="onChangeValue()">
            <option *ngFor="let option of label.options" [value]="option.key"> {{ option.value  }} </option>
        </select>
    </div>

    <input class="btn btn-primary" type="button" value="'Add message'" [formControl]="controlButton"
        (click)='addDataMessage($event)'>
</div>



<gen-simple-input                           >
</gen-simple-input>